body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#game-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e44d26;
}

#question-container {
    margin-bottom: 20px;
}

#options-container {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    background-color: #e44d26;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

#result {
    color: #e44d26;
    font-weight: bold;
    margin-top: 20px;
}
